#detail {
    width: 35%;
}

#status {
    width: 20%;
}

.search-button {
    width: 20%;
    margin-inline: 5px;
}

#advanced {
    padding: 0px;
}

.form-inline label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0px;
}