<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label class="sr-only" for="detail">Name</label>
  <input
    type="text"
    class="form-control mb-2 mr-sm-2"
    id="detail"
    placeholder="Project number, detail, name"
    pInputText
    formControlName="detail"
  />

  <label class="sr-only" for="status">Username</label>
    <select class="form-control mb-2 mr-sm-2" type="text" id="status" pInputText formControlName="status">
      <option value="" disabled selected hidden>Project Status</option>
      <option value="NEW" selected>New</option>
      <option value="PLA">Planned</option>
      <option value="INP">In progress</option>
      <option value="FIN">Finished</option>
    </select>
  <button
    pButton
    pRipple
    class="p-button-info mb-2"
    type="submit"
    label="Search Project"
    [disabled]="!searchForm.valid"
  ></button>
  <button
    pButton
    pRipple
    class="p-button-raised p-button-text p-button-plain mb-2"
    type="reset"
    label="Reset Search"
    style="color: #2196F3"
    (click)="onReset()"
  ></button>
</form>
