<form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <label class="sr-only" for="detail">Name</label>
  <input
    type="text"
    class="mb-2 mr-sm-2"
    id="detail"
    placeholder="Project number, detail, name"
    pInputText
    formControlName="detail"
  />

  <label class="sr-only" for="status">Username</label>
  <p-dropdown
    [options]="status"
    placeholder="Project status "
    styleClass="mb-2 mr-sm-2 status"
    [style]="{ width: '100%' }"
    optionLabel="name"
    id="status"
    formControlName="status"
  >
  </p-dropdown>

  <button
    pButton
    pRipple
    class="p-button-info mb-2"
    type="submit"
    label="Search Project"
    [disabled]="!searchForm.valid"
  ></button>
  <button
    pButton
    pRipple
    class="p-button-raised p-button-text p-button-plain mb-2"
    type="reset"
    label="Reset Search"
    style="color: #2196f3"
    (click)="onReset()"
  ></button>
</form>
