<h4>{{ headerText | translate }}</h4>
<p-messages></p-messages>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptLabel="{{'Yes' | translate}}"
  rejectLabel="{{'No' | translate}}"
></p-confirmDialog>
<hr />
<form [formGroup]="postForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label class="col-3" for="projectNumber"
      >{{ "ProjectNumber" | translate }} <span id="required">*</span></label
    >
    <input
      class="col-3"
      type="number"
      id="projectNumber"
      pInputText
      formControlName="projectNumber"
    />

    <span
      *ngIf="
        postForm.get('projectNumber').invalid &&
        (postForm.get('projectNumber').dirty ||
          postForm.get('projectNumber').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('projectNumber').hasError('required')"
      >
        {{ "Required" | translate }}
      </span>
      <span
        class="text-danger"
        *ngIf="postForm.get('projectNumber').hasError('maxlength')"
      >
        {{ "MaxLength" | translate }}
        {{ postForm.get("projectNumber").errors.maxlength.requiredLength }}
        {{ "Characters" | translate }}
      </span>
    </span>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="projectName"
      >{{ "ProjectName" | translate }} <span id="required">*</span></label
    >
    <input
      class="col-9"
      type="text"
      id="projectName"
      pInputText
      formControlName="name"
    />
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div
      *ngIf="
        postForm.get('name').invalid &&
        (postForm.get('name').dirty || postForm.get('name').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('name').hasError('required')"
      >
        {{ "Required" | translate }}
      </span>
      <span
        class="text-danger"
        *ngIf="postForm.get('name').hasError('maxlength')"
      >
        {{ "MaxLength" | translate }}
        {{ postForm.get("name").errors.maxlength.requiredLength }}
        {{ "Characters" | translate }}
      </span>
    </div>
  </div>

  <br />
  <div class="form-group">
    <label class="col-3" for="customer"
      >{{ "Customer" | translate }} <span id="required">*</span></label
    >
    <input
      class="col-9"
      type="text"
      id="customer"
      pInputText
      formControlName="customer"
    />
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div
      *ngIf="
        postForm.get('customer').invalid &&
        (postForm.get('customer').dirty || postForm.get('customer').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('customer').hasError('required')"
      >
        {{ "Required" | translate }}
      </span>
      <div
        class="text-danger"
        *ngIf="postForm.get('customer').hasError('maxlength')"
      >
        {{ "MaxLength" | translate }}
        {{ postForm.get("customer").errors.maxlength.requiredLength }}
        {{ "Characters" | translate }}
      </div>
    </div>
  </div>

  <br />
  <div class="form-group">
    <label class="col-3" for="group"
      >{{ "Group" | translate }} <span id="required">*</span></label
    >
    <select
      *ngFor="let id of groupList$ | async"
      class="col-3"
      id="group"
      pInputText
      formControlName="groupId"
      required
    >
      <option [value]="id">{{ id }}</option>
    </select>

    <span
      *ngIf="
        postForm.get('groupId').invalid &&
        (postForm.get('groupId').dirty || postForm.get('groupId').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('groupId').hasError('required')"
      >
        {{ "Required" | translate }}
      </span>
    </span>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="members">{{ "Members" | translate }}</label>
    <p-multiSelect
      [options]="employeeList$ | async"
      formControlName="members"
      defaultLabel="{{ 'MembersPlaceholder' | translate }}"
      optionLabel="Visa"
      optionValue="Visa"
      display="chip"
      [style]="{ width: '75%' }"
    ></p-multiSelect>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="status"
      >{{ "Status" | translate }}<span id="required">*</span></label
    >
    <p-dropdown
      [options]="status"
      placeholder="{{ 'StatusPlaceholder' | translate }}"
      styleClass="col-3"
      [style]="{ padding: '0px' }"
      optionLabel="name"
      optionValue="value"
      id="status"
      formControlName="status"
    >
    </p-dropdown>

    <span
      *ngIf="
        postForm.get('status').invalid &&
        (postForm.get('status').dirty || postForm.get('status').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('status').hasError('required')"
      >
        {{ "Required" | translate }}
      </span>
    </span>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="startDate"
      >{{ "StartDate" | translate }} <span id="required">*</span></label
    >
    <p-calendar
      #startDateRef
      formControlName="startDate"
      [style]="{ padding: '0px' }"
      dateFormat="dd-mm-yy"
      styleClass="col-3"
      [showIcon]="true"
    ></p-calendar>

    <label class="col-3" for="endDate">{{ "EndDate" | translate }} </label>
    <p-calendar
      #endDateRef
      formControlName="endDate"
      [style]="{ padding: '0px' }"
      dateFormat="dd-mm-yy"
      styleClass="col-3"
      [showIcon]="true"
    ></p-calendar>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div
      *ngIf="
        postForm.get('startDate').invalid &&
        (postForm.get('startDate').dirty || postForm.get('startDate').touched)
        || postForm.hasError('StartDateIsMore') 
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('startDate').hasError('required')"
      >
        {{ "Required" | translate }}
      </span>
      <span
        class="text-danger"
        *ngIf="postForm.hasError('StartDateIsMore')"
      >
        {{'StartDateError' | translate}}
      </span>
    </div>
  </div>

  <hr />
  <div class="row">
    <div class="col-sm-6"></div>
    <button
      pButton
      pRipple
      class="p-button-raised p-button-text p-button-plain"
      type="button"
      label="{{ 'Cancel' | translate }}"
      (click)="onReset()"
    ></button>
    <div class="col-sm-1"></div>
    <button
      pButton
      pRipple
      class="p-button-info"
      type="submit"
      [label]="buttonText | translate"
    ></button>
  </div>
</form>
