<h4>{{ headerText }}</h4>
<p-messages></p-messages>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<hr />
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="col-3" for="projectNumber"
      >Project Number <span id="required">*</span></label
    >
    <input
      class="col-3"
      type="number"
      id="projectNumber"
      pInputText
      formControlName="projectNumber"
    />

    <span
      *ngIf="
        postForm.get('projectNumber').invalid &&
        (postForm.get('projectNumber').dirty ||
          postForm.get('projectNumber').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('projectNumber').hasError('required')"
      >
        This field is required.
      </span>
      <span
        class="text-danger"
        *ngIf="postForm.get('projectNumber').hasError('maxlength')"
      >
        The maximum length for this field is
        {{ postForm.get("projectNumber").errors.maxlength.requiredLength }}
        characters.
      </span>
    </span>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="projectName"
      >Project name <span id="required">*</span></label
    >
    <input
      class="col-9"
      type="text"
      id="projectName"
      pInputText
      formControlName="name"
    />

    <div
      *ngIf="
        postForm.get('name').invalid &&
        (postForm.get('name').dirty || postForm.get('name').touched)
      "
      id="validateError"
    >
      <span
        class="text-danger"
        *ngIf="postForm.get('name').hasError('required')"
      >
        This field is required.
      </span>
      <span
        class="text-danger"
        *ngIf="postForm.get('name').hasError('maxlength')"
      >
        The maximum length for this field is
        {{ postForm.get("name").errors.maxlength.requiredLength }}
        characters.
      </span>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="customer"
      >Customer <span id="required">*</span></label
    >
    <input
      class="col-9"
      type="text"
      id="customer"
      pInputText
      formControlName="customer"
    />

    <div
      *ngIf="
        postForm.get('customer').invalid &&
        (postForm.get('customer').dirty || postForm.get('customer').touched)
      "
      id="validateError"

    >
      <span
        class="text-danger"
        *ngIf="postForm.get('customer').hasError('required')"
      >
        This field is required.
      </span>
      <span
        class="text-danger"
        *ngIf="postForm.get('customer').hasError('maxlength')"
      >
        The maximum length for this field is
        {{ postForm.get("customer").errors.maxlength.requiredLength }}
        characters.
      </span>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="group">Group <span id="required">*</span></label>
    <select
      *ngFor="let id of groupList$ | async"
      class="col-3"
      id="group"
      pInputText
      formControlName="groupId"
      required
    >
      <option [value]="id">{{ id }}</option>
    </select>

    <span
      *ngIf="
        postForm.get('groupId').invalid &&
        (postForm.get('groupId').dirty || postForm.get('groupId').touched)
      "
      id="validateError"

    >
      <span
        class="text-danger"
        *ngIf="postForm.get('groupId').hasError('required')"
      >
        This field is required.
      </span>
    </span>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="members"
      >Members</label
    >
    <p-multiSelect
      [options]="employeeList$ | async"
      formControlName="members"
      defaultLabel="Select members"
      optionLabel="Last_Name"
      optionValue="Visa"
      display="chip"
      [style]="{ width: '75%' }"
    ></p-multiSelect>

  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="status"
      >Status <span id="required">*</span></label
    >
    <select
      class="col-3"
      name=""
      id="status"
      pInputText
      formControlName="status"
      required
    >
      <option value="NEW" selected="selected">New</option>
      <option value="PLA">Planned</option>
      <option value="INP">In progress</option>
      <option value="FIN">Finished</option>
    </select>

    <span
      *ngIf="
        postForm.get('status').invalid &&
        (postForm.get('status').dirty || postForm.get('status').touched)
      "
      id="validateError"

    >
      <span
        class="text-danger"
        *ngIf="postForm.get('status').hasError('required')"
      >
        This field is required.
      </span>
    </span>
  </div>
  <br />
  <div class="form-group">
    <label class="col-3" for="startDate"
      >Start Date <span id="required">*</span></label
    >
    <input
      class="col-3"
      type="date"
      id="startDate"
      pInputText
      formControlName="startDate"
    />

    <label class="col-3" for="endDate">End Date </label>
    <input
      class="col-3"
      type="date"
      id="endDate"
      pInputText
      formControlName="endDate"
    />

    <div
      *ngIf="
        postForm.get('startDate').invalid &&
        (postForm.get('startDate').dirty || postForm.get('startDate').touched)
      "
      id="validateError"

    >
      <span
        class="text-danger"
        *ngIf="postForm.get('startDate').hasError('required')"
      >
        This field is required.
      </span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6"></div>
    <button
      pButton
      pRipple
      class="p-button-raised p-button-text p-button-plain"
      type="reset"
      label="Cancel"
    ></button>
    <div class="col-sm-1"></div>
    <button
      pButton
      pRipple
      class="p-button-info"
      type="submit"
      [label]="buttonText"
    ></button>
  </div>
</form>
