<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">PIM Tool</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/project"
            routerLinkActive="active"
            [queryParams]="{ page: 1 }"
            >Project</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div id="content">
  <div id="titleContent" class="row">
    <div class="col-md-11 row">
      <div class="col-md-2">
        <a routerLink="/" style="padding: 0px">
          <img src="assets/img/logo.png" />
        </a>
      </div>
      <div class="col-md-9">
        <h4 style="padding: 0px; margin: 0px">
          {{ "ProjectInformationManagement" | translate }}
        </h4>
      </div>
    </div>

    <div class="col-md-1">
      <p-selectButton
        [options]="langs"
        [(ngModel)]="currentLang"
        optionLabel="name"
        (onChange)="switchLang()"
        optionValue="name"
      ></p-selectButton>
    </div>

  </div>

  <hr />

  <div class="row">
    <div class="col-md-2">
      <app-side-nav></app-side-nav>
    </div>

    <div class="col-md-9">
      <div>
        <router-outlet></router-outlet>
        <br />
        <footer>
          <p>&copy; 2021</p>
        </footer>
      </div>
    </div>
  </div>
</div>
