:host {
  #titleContent {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    background-color: #fafafa;
  }
  #header-text {
    margin-left: 13px;
  }
}

#content {
  background-color: #fafafa;
}
