/* You can add global styles to this file, and also import other style files */

html,
body {
    width: 100%;
    height: 90vh;
    overflow: auto;
    font-size: 0.83rem;
    min-height:100%;
    background-color: #fafafa;
}

tr {
    border: 1px solid #e9ecef;
}

@import "./bootstrap"