<!-- [lazy]="true"
    (onLazyLoad)="sorting($event)"
    [totalRecords]="projectList.PagingInfo.TotalItems"
    [rows]="10" 
    [showCurrentPageReport]="true"
    [paginator]="true" -->
<p-toast position="top-center"></p-toast>
<div>
  <p-table
    *ngIf="projectList$ | async as projectList"
    [value]="projectList.Projects"
    responsiveLayout="scroll"
    [(selection)]="selectedProject"
    [lazy]="true"
    (onLazyLoad)="sorting($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem; background-color: #ffffff">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="number" style="background-color: #ffffff">
          {{ "Number" | translate }} <p-sortIcon field="number"></p-sortIcon>
        </th>
        <th pSortableColumn="name" style="background-color: #ffffff">
          {{ "Name" | translate }} <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="status" style="background-color: #ffffff">
          {{ "Status" | translate }} <p-sortIcon field="status"></p-sortIcon>
        </th>
        <th pSortableColumn="customer" style="background-color: #ffffff">
          {{ "Customer" | translate }}
          <p-sortIcon field="customer"></p-sortIcon>
        </th>
        <th pSortableColumn="startDate" style="background-color: #ffffff">
          {{ "StartDate" | translate }}
          <p-sortIcon field="startDate"></p-sortIcon>
        </th>
        <th style="background-color: #ffffff">{{ "Delete" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
      <tr>
        <td class="record">
          <div class="p-field-checkbox">
            <p-tableCheckbox [value]="project"></p-tableCheckbox>
          </div>
        </td>
        <td class="record" style="text-align: center">
          <a
            [routerLink]="['edit', project.Id]"
            routerLinkActive="router-link-active"
            id="updateLink"
            >{{ project.Project_Number }}</a
          >
        </td>
        <td class="record">{{ project.Name }}</td>
        <td>{{ project.Status | statusPipe | translate }}</td>
        <td>{{ project.Customer }}</td>
        <td>{{ project.Start_Date | dateFormatPipe: "dd.MM.yyyy" }}</td>
        <td>
          <button
            pButton
            pRipple
            style="padding: 0px"
            type="button"
            icon="pi pi-trash"
            class="p-button-danger p-button-text"
            (click)="deleteSingleProject(project.Id)"
            *ngIf="project.Status === 'NEW'"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        icon="pi pi-cloud"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptLabel="{{ 'Yes' | translate }}"
  rejectLabel="{{ 'No' | translate }}"
></p-confirmDialog>

<div class="summary" *ngIf="selectedProject.length > 0">
  <div
    class="p-d-flex p-ai-center p-jc-between col-6"
    style="color: #2196f3; margin-top: 8.5px"
  >
    {{ selectedProject.length }} {{ "SelectedItems" | translate }}
  </div>
  <div
    class="p-d-flex p-ai-center p-jc-between col-6"
    style="text-align: right"
  >
    <button
      pButton
      pRipple
      class="p-button-danger p-button-text"
      type="submit"
      label="{{ 'DeleteSelectedItems' | translate }}"
      (click)="deleteSelectedProject()"
      icon="pi pi-trash"
      iconPos="right"
    ></button>
  </div>
</div>

<p-paginator
  #paginator
  *ngIf="projectList$ | async as projectList"
  [rows]="projectList.PagingInfo.TotalPages"
  [totalRecords]="projectList.PagingInfo.TotalItems"
  [pageLinkSize]="projectList.PagingInfo.ItemsPerPage"
  (onPageChange)="paginate($event)"
></p-paginator>
